<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnN3IlN1nJSIvXVARtvIv-1xAcy8KRLlc</string>
	<key>GCM_SENDER_ID</key>
	<string>846305704810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gopizza</string>
	<key>PROJECT_ID</key>
	<string>gopizza-d1b71</string>
	<key>STORAGE_BUCKET</key>
	<string>gopizza-d1b71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846305704810:ios:c771f873a3d9b9af43c313</string>
</dict>
</plist>